li:hover {
	background-color: #fafafa;
}
li {
	display: inline;
	padding: 22px;
	background-color: #efefef;
	border-radius: 16px;
	font-weight: bold;
	color: #ec9044;
	margin: 15px;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}
ul {
	list-style: none;
	padding: 20px;
}
.active {
	background-color: #d4e0dc;
}
