.orange-border {
	border-radius: 25px;
	border: 1px solid #f3a712;
	min-height: 300px;
	padding: 10px;
}
span {
	font-weight: 600;
}
.total {
	font-size: 22px;
}
button {
	padding: 20px;
	background-color: #f3a712;
	color: #fff;
	width: 100%;
}
