.form-fluid {
	padding-top: 50px;
}
.login-container {
	border: solid 1px #f89937;
	background-color: #faf5ee;
	box-shadow: 0 0 10px #e57807;
	-moz-box-shadow: 0 0 10px #e57807;
	-webkit-box-shadow: 0 0 10px #e57807;
	-o-box-shadow: 0 0 10px rgba#E57807;
	border-radius: 25px;
	min-height: 235px;
	padding: 30px;
}
