<div class="row orange-border">
  <h3>Order Summary</h3>
  <div class="col-sm-12">
    <span class="pull-left">Subtotal</span>
    <span class="pull-right">{{ subtotal | currency }}</span>
  </div>
  <div class="col-sm-12">
    <span class="pull-left">Taxes</span>
    <span class="pull-right">{{ taxes | currency }}</span>
  </div>

  <div class="col-sm-12">
    <hr />
    <span class="pull-left bold">Total</span>
    <span class="pull-right bold total">{{ total | currency }}</span>
  </div>
  <div class="col-sm-12">
    <button class="btn">Buy Now</button>
  </div>
</div>
