<div class="card mb-3">
	<div class="row no-gutters">
		<div class="col-md-4 pointer" (click)="goToDetail(cartItem.productId)">
			<img [src]="cartItem.imageUrl" class="card-img" [alt]="cartItem.name" />
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title pointer" (click)="goToDetail(cartItem.productId)">
					{{ cartItem.name }}
				</h5>
				<p class="card-text block-with-text">
					{{ cartItem.description }}
				</p>
				<p class="card-text">
					<small class="text-muted">{{ cartItem.price | currency }}</small>
				</p>
				<div class="col-sm-9">
					<div class="row">
						<div class="col-sm-6">
							<gt-counter
								[counter]="cartItem.quantity"
								(counterChange)="onCounterChanged($event)"
							></gt-counter>
						</div>
						<div class="col-sm-6">
							<button class="btn bold" (click)="remove()">
								<span>Remove from cart<i class="fa fa-trash"></i></span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
