.orange-border {
  border-radius: 25px;
  border: 2px solid #f89937;
  height: 100%;
  padding: 20px;
}
.blue-border {
  border-radius: 25px;
  border: 2px solid #8181f7;
  padding: 20px;
  height: 100%;
}
