.shadow {
  margin: 0.4em;
  padding: 1em;
  cursor: pointer;
  background: transparent;
  text-decoration: none;
  color: #666;
  &:hover {
    transform: scale(1.04);
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
  }
}

.selected {
  margin: 0.4em;
  padding: 1em;
  cursor: pointer;
  background: #e1e1e1;
  text-decoration: none;
  color: #666;
}
.card {
  padding: 20px;
  border-style: none;
}

span {
  font-weight: 600;
  font-style: italic;
  text-align: center;
}
.center-text {
  text-align: center;
}
