.blue-border {
  border-radius: 25px;
  border: 2px solid #8181f7;
  padding: 20px;
  height: 100%;
}
.orange-border {
  min-height: 680px;
}
img {
  padding-top: 10px;
  border-radius: 90px;
}
span {
  padding-top: 10px;
  font-family: monospace;
  font-size: xx-large;
}

h2 {
  font-family: monospace;
}
