.blue-border {
  border-radius: 25px;
  border: 2px solid #8181f7;
  padding: 20px;
  height: 100%;
}
img {
  padding-top: 10px;
  border-radius: 90px;
}
span {
  padding-top: 10px;
  font-family: "Segoe Script", cursive;
  font-size: 25px;
}

h2 {
  font-family: "Segoe Script", cursive;
}
