<div class="row m-auto orange-border" *ngIf="currentStory$ | async as currentStory">
	<gt-quote
		class="col-sm-12"
		[photoUrl]="currentStory?.storyTeller?.photoUrl"
		[quoteText]="currentStory?.title"
	></gt-quote>
	<div class="col-sm-12 pt-2" *ngIf="isStoryTeller$ | async">
		<button
			class="btn btn-info"
			(click)="showVotes()"
			*ngIf="!(areVotesVisible$ | async)"
		>
			Show Votes
		</button>
		<button class="btn btn-info" (click)="nextRound()" *ngIf="areVotesVisible$ | async">
			Next Round
		</button>
	</div>
</div>
