<div class="col-sm-10 pt-3 ml-sm-auto mr-sm-auto">
  <section class="row">
    <div class="col-3">
      <gt-search-bar
        placeholder="Search for a client name"
        class="col-sm-6"
        (keywordChange)="updateSeachKeyword($event)"
      ></gt-search-bar>
    </div>
    <div class="col-3">
      <select class="form-control">
        <option>Paid</option>
        <option>Delivered</option>
      </select>
    </div>
  </section>

  <section class="row col-sm-12 ml-sm-auto mr-sm-auto">
    <gt-table-main-sales
      class="col-sm-12"
      [orders]="orders$ | async"
    ></gt-table-main-sales>
  </section>

  <section class="row">
    <gt-pagination class="col-sm-12"></gt-pagination>
  </section>
</div>
