<div class="container p-5">
  <section class="row">
    <gt-search-bar
      placeholder="Search for a client name"
      class="col-sm-6"
      (keywordChange)="updateSeachKeyword($event)"
    ></gt-search-bar>
    <gt-status-filter class="col-sm-6"></gt-status-filter>
  </section>

  <section class="row">
    <gt-table-main-sales class="col-sm-12"></gt-table-main-sales>
  </section>

  <section class="row" *ngIf="pagination$ | async as pagination">
    <gt-pagination
      class="col-sm-12"
      [total]="total$ | async"
      [page]="pagination.page"
      [pageSize]="pagination.size"
      (pageChange)="updatePagination($event)"
    ></gt-pagination>
  </section>
</div>
