span,
p {
  font-style: italic;
  font-size: x-large;
  color: #002e50;
  padding-right: 20px;
}
.lateral-borders {
  border-right: 5px solid #f89937;
  border-left: 5px solid #f89937;
}
hr {
  margin-bottom: 3rem;
  border-color: #f89937;
}
.mission {
  line-height: 80px;
  text-align: end;
}
.leader {
  line-height: 80px;
}
@media (max-width: 400px) {
  span {
    font-size: large;
  }
  .mission {
    line-height: 15px;
  }
  .leader {
    line-height: 15px;
  }
  .lateral-borders {
    border-width: 2px;
  }
  p {
    font-size: large;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 95px;
  }
}
