span {
  font-style: italic;
  font-size: x-large;
  color: #002e50;
  padding-right: 20px;
}
.lateral-borders {
  border-right: 5px solid #f89937;
  border-left: 5px solid #f89937;
}
hr {
  margin-bottom: 3rem;
  border-color: #f89937;
}
.mission {
  line-height: 80px;
  text-align: end;
}
.leader {
  line-height: 80px;
}
