a {
  font-weight: 700;
  color: #327adb;
  font-style: oblique;
}
.card {
  border-radius: 25px;
  margin: 10px;
  border: 1px solid #f89937;
}
.card-img-top {
  border-bottom: 1px solid #f89937;
  border-radius: 25px 25px 0px 0px;
  width: 300px;
  height: 300px;
}
