a {
  font-weight: 700;
  color: #327adb;
  font-style: oblique;
}
.card {
  border-radius: 25px;
  margin: 10px;
  border: 1px solid #f89937;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 303px;
}
.card-body {
  padding: 0px;
}
.price {
  font-size: 22px;
}
.card-img-top {
  border-bottom: 1px solid #f89937;
  border-radius: 25px 25px 0px 0px;
  width: 300px;
  height: 300px;
}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #f89937;
  border-radius: 0px 0px 25px 25px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.card button:hover {
  background-color: #f3b26e;
}
