<div class="card">
  <img [src]="product.images[0]" class="card-img-top" [alt]="product.name" />
  <div class="card-body">
    <h5 class="card-title text-center">{{ product.name }}</h5>
    <div class="price text-center">{{ product.price | currency }}</div>
    <div class="card-text block-with-text pr-2 pl-2">
      {{ product.description }}
    </div>
    <div class="pull-right pr-2">
      <a [routerLink]="['detail', product.id]">See more</a>
    </div>
    <button (click)="addToCart()">Add to Cart</button>
  </div>
</div>
