<gt-board-card
	*ngFor="let boardCard of boardCards$ | async"
	[boardCard]="boardCard"
	[isRevealed]="isGuessingTime$ | async"
	[isSelected]="boardCard.cardIndex === selectedCard?.cardIndex"
	(click)="selectCard(boardCard)"
	[isJumping]="(storyCard$ | async)?.cardIndex === boardCard.cardIndex"
>
</gt-board-card>
<div class="row col-sm-12">
	<div
		class="row col-sm-11 pt-2"
		*ngIf="selectedCard && canVote && !(userPlayer$ | async)?.isStoryTeller"
	>
		<button class="btn btn-info" (click)="vote()">
			Do you want to vote for this card?
		</button>
	</div>
</div>
