.planner {
	font-family: "Open Sans", sans-serif;
	max-width: 315px;
	margin: 30px auto;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	overflow: hidden;
}

.schedule {
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

.schedule-list {
	padding: 20px;
	margin-left: 37px;
	border-left: 2px solid #cccccc;
	display: block;
}

.schedule-item {
	display: block;
	margin-bottom: 50px;
	padding: 0;
	clear: both;
	min-height: 30px;
	overflow: visible;
}

.schedule-item:last-child {
	margin-bottom: 45px;
	min-height: 30px;
}

.time {
	display: block;
	float: left;
	margin-left: -41px;
	width: 36px;
	height: 36px;
	border: 2px solid #cccccc;
	background-color: #ffffff;
	color: #cccccc;
	border-radius: 40px;
	text-align: center;
	padding: 0px;
	line-height: 25px;
}
.time span {
	font-size: 12px;
	height: 10px;
	margin: auto;
	display: block;
}

.description {
	display: block;
	float: left;
	width: 305px;
	margin-top: 10px;
	margin-left: 10px;
	color: #fd9a4a;
	font-size: 14px;
	overflow: visible;
}

.description .description-content {
	margin-top: 5px;
}
.description .description-content p {
	font-size: 12px;
	margin: 0;
	color: #c5c5c5;
}

.schedule-item.free .time {
	border: 2px solid #98cd60;
}

.schedule-item.free .description .description-header {
	background-color: #ffffff;
	color: #c5c5c5;
	display: block;
	float: left;
}

.schedule-item.free .description .description-content {
	margin-left: 5px;
	margin-top: 0;
	content: "";
	width: 215px;
	display: block;
	float: right;
}
