<div class="pt-3">
  <section class="row">
    <gt-search-bar
      placeholder="Search for a product name"
      class="col-sm-6"
      (keywordChange)="updateSeachKeyword($event)"
    ></gt-search-bar>
    <gt-category-filter class="col-sm-3"></gt-category-filter>
  </section>
  <section class="row">
    <div class="card-group col-sm-12 ml-sm-auto mr-sm-auto">
      <gt-product-card
        *ngFor="let product of products$ | async"
        [product]="product"
      ></gt-product-card>
    </div>
  </section>
  <section class="row" *ngIf="pagination$ | async as pagination">
    <gt-pagination
      class="col-sm-12"
      [total]="total$ | async"
      [page]="pagination.page"
      [pageSize]="pagination.size"
      (pageChange)="updatePagination($event)"
    ></gt-pagination>
  </section>
</div>
